.carousel img {
  height: 75vh;
  object-fit: cover;
}

.about-us-content p {
  font-size: 1.25rem;
  font-weight: 400;
}

.about-carousel {
  padding-top: 15%;
  margin-left: 15%;
  cursor: pointer;
}

.about-carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #212529;
}

.carousel-content span {
  line-height: 0;
}

.call-action {
  background-image: url(../image/parallax.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.call-action a {
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

.call-action a:hover {
  color: #4c5667;
  background: #fff;
}

.work-btn a {
  box-shadow: 0 4px 16px #efefef;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 10px 25px;
}

.work-btn a:hover {
  background: #f4f5f8;
  padding-right: 15px;
  padding-left: 40px;
  box-shadow: 4px 8px 16px #dedede;
}

.work-btn a::before {
  transition: all 0.3s ease-in-out;
}

.work-btn a:hover::before {
  content: "\F138";
  font-family: "bootstrap-icons";
  font-weight: bold;
  vertical-align: middle;
  position: absolute;
  left: 10px;
}

.work-btn span {
  font-size: 14px !important;
  font-weight: 700;
}

.our-number {
  background-image: url(../image/parallax-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.our-number-content h1::before {
  content: '';
  width: 30px;
  border: 1px solid #eee;
  position: absolute;
  top: 140%;
  right: 45%;
}

.service{
  padding: 80px 0;
}


.service-content h1::before,.our-team-content h1::before {
  content: '';
  border: 1px solid #0000ff;
  width: 100px;
  position: absolute;
  top: 120%;
  left: 45%;
}

.icon i {
  border: 3px solid #333;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
}

.our-team{
  padding: 80px 0;
  background-color: #F7F9FB !important;
}

.our-team-content h1::before {
  content: '';
  border: 1px solid #0000ff;
  width: 100px;
  position: absolute;
  top: 135%;
  left: 45%;
}

.social-icon i{
  font-size: 10px;
  border: 1px solid #cbc2c2;
  height: 25px;
  width: 25px;
  line-height: 25px;
}